body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
header a {
    margin-left: 20px;
    color: black;
    text-decoration: none;
}
nav {
    width: 20% ;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}
nav ul li a img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: -7px;
}
nav ul li a img:hover {
    border: 3px solid rgb(192, 189, 189);
    width: 22px;
    height: 22px;
}
nav ul li a:hover {
    text-decoration: underline;
}
main > a img {
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    width: 400px;
    height: 100px;
}
input {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 50%;
    height: 22px;
    padding: 10px;
    padding-left: 40px;
    border-radius: 25px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
input:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
input:focus {
    outline: none;
    border-color: #4285f4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
input::before{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    
}
input:focus::placeholder{
    background-color: white;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    overflow: auto;
}
form {
    text-align: center;
}
form div {
    position: relative;
}
form div i {
    cursor: pointer;
}
form div .fa-magnifying-glass {
    position: absolute;
    top: 50%;
    left: 24%;
    transform: translateY(-50%);
}
form div .fa-microphone {
    position: absolute;
    top: 50%;
    right: 33%;
    transform: translateY(-50%);
}
form div .fa-camera {
    position: absolute;
    top: 50%;
    right: 29%;
    transform: translateY(-50%);
}
form div .fa-keyboard {
    position: absolute;
    top: 50%;
    right: 25%;
    transform: translateY(-50%);
}
button {
    display:block;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    background-color: #f8f9fa;
    color: #3c4043;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
button:focus {
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
